.movie {
  background-color: black;
  color: antiquewhite;
  padding-top: 50px;
}

.buy {
   float: right;
 }

button {
  color: antiquewhite;
}

.img {
  text-align: right;
}

h6 span {
  float: right;
}
