<div class="col-4">
  <app-search-bar class="private-search row" (searchChanged)="searchMovie($event)"></app-search-bar>
</div>
<div class="col-4">
  <i class="fa fa-trash" *ngIf="privateMovies.length > 0" (click)="allowRemoveMovies()"></i>
</div>
<div class="col-4">
  <app-budget></app-budget>
</div>
<div class="text row">
  <div class="title col-10">
    <h4 *ngIf="privateMovies.length == 0">{{title}}</h4>
    <h4 class="budget-state">{{budgetState}}</h4>
  </div>
</div>
<ul class="row">
  <app-movie class="col-4" *ngFor="let movie of privateMovies | filter : currentSearchTerm; let i = index" [movie]=movie [deleteMoviesFromPrivate]="deleteMoviesFromPrivate" (clickToRemoveMovie)="removeMovieFromPrivate($event)"></app-movie>
</ul>

