.movie-item {
  list-style: none;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 400px;
  position: relative;
}

.movie-item:hover {
  border: antiquewhite 1px solid;
}

.movie-data {
  margin: 5px;
}

.img {
  width: 100px;
  padding-right: 3px;
  padding-left: 0;
}

.movie-title {
  padding-right: 0;
}

.img img {
  width: 100%;
}

.movie-title h4{
  display: inline-block;
}

.movie-title p{
  display: inline-block;
}

.buttons {
  float: right;
  margin-left: 10px;
  position: absolute;
  bottom:0;
  right:0;
}
